body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color:black;
}

/* elements in a box (sign in) are now aligned */
* {
    box-sizing: border-box;
}